body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background: #35424a;  
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 60px;
}

section {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #35424a;
    color: #ffffff;
}
